/* CSS для заголовка (header) */
.admin_page_header {
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.06);
}

.empty_block {
  min-height: 40px;
}

@media screen and (max-width: 600px) {
  /* Медиа-запрос для мобильных устройств с шириной экрана до 600px */
  .admin_page_content {
    padding: 10px;
  }
}