/* CSS для заголовка (header) */
.header {
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.06);
}

/* CSS для контента (content) */
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: -170px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 8px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
}

.main_page_hello_text {
  padding-top: 60px;
  padding-bottom: 250px;
  background-image: url("../assets/img/BG.jpg");
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
}
.empty_block {
  min-height: 40px;
}

@media screen and (max-width: 600px) {
  /* Медиа-запрос для мобильных устройств с шириной экрана до 600px */
  .content {
    padding: 10px;
  }
}