/* CSS для заголовка (header) */
.short_report_page_header {
    padding: 20px;
  }
  
  /* CSS для контента (content) */
  .short_report_content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .short_report_content__background {
    background-image: url("../assets/img/BG.jpg");
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

  }
  
  @media screen and (max-width: 600px) {
    /* Медиа-запрос для мобильных устройств с шириной экрана до 600px */
    .short_report_content {
      padding: 10px;
    }
  }