.cabinet_card {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

.cabinet_title_plus_text {
    display: flex;
    flex-direction: row;
}

.cabinet_text__margin {
    margin-left: 20px;
}

.cabinet_text_and_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabinet_button {
    display: flex;
    justify-content: flex-end;
}